@import url("https://fonts.googleapis.com/css2?family=New+Rocker&family=Poppins:wght@500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --main-color: #46c2bf;
  --secondary-color: #828282;
  --tint: #59c8c5;
  --shade: #3fafac;
}

body {
  font-family: "Exo", sans-serif;
  line-height: 1.5;
}

.main-nav {
  background: #fff;
  height: 5rem;
  font-size: 0.9rem;
  line-height: 50px;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 0 5px #82828233;
  z-index: 101;
}

.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  list-style: none;
  text-transform: uppercase;
}

.nav-link:link,
.nav-link:visited {
  display: inline-block;
  padding: 0 20px;
  color: #828282;
  text-decoration: none;
  font-weight: 600;
  transition: all 0.3s;
}

.nav-link:hover {
  color: var(--main-color);
}

.logo {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 1.5em;
}

main {
  display: flex;
  flex-direction: column;
}
#country {
  margin-top: 82px;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 33px;
}

#name {
  width: 400x;
  font-family: Exo;
  font-style: normal;
  font-weight: bold;
  font-size: 56px;
  line-height: 64px;

  color: #000000;
}
#continent {
  font-family: Exo;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 34px;
  color: #c4c4c4;
}

.allign-item {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin: 42px;
}

.emoji {
  width: 48px;
  height: 48px;
  font-style: normal;
  font-size: 48px;
  line-height: 55px;
  margin: 30px auto;
}
#population,
#lang,
#currency,
#now-weather {
  align-self: center;

  font-family: Exo;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 34px;

  color: #000000;
}

.info-grid {
  margin-top: 10px;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
}

#weather {
  display: flex;
  justify-content: center;
}

#city-photo {
  width: 570px;
  height: 239px;
  border-radius: 8px 0px 0px 8px;
}

#overlay {
  width: 570px;
  height: 239px;
  filter: drop-shadow(3.2px 15px 16px rgba(0, 0, 0, 0.1));
  background: linear-gradient(
      0deg,
      rgba(31, 80, 255, 0.4),
      rgba(31, 80, 255, 0.4)
    ),
    url("../assets/img/Country-Details/unsplash_54RtibmHH28.png");
  border-radius: 8px 0px 0px 8px;
  object-fit: cover;

  display: flex;
  justify-content: space-between;
}
option {
  color: black;
}
select {
  background-color: transparent;
  border: none;
  font-size: 30px;
  color: white;
  width: 160px;
  margin-top: 22px;
}

.now-state-img {
  margin: 39px 32px 0 0;
}

.margin-inside-the-box {
  margin-left: 50px;
}
.dash {
  width: 32px;
  margin-bottom: 12px;
  margin-top: 12px;
}
#wind-speed {
  display: flex;
  align-items: center;
}
.wind {
  width: 16px;
  height: 16px;
}

#wind {
  display: inline;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  margin-left: 8px;
  color: #ffffff;
}
#temp {
  margin-bottom: 25px;
  font-style: normal;
  font-weight: 300;
  font-size: 48px;
  line-height: 56px;

  color: #ffffff;
}
#header {
  width: 609px;
  height: 734px;
  object-fit: cover;
  border-radius: 8px;
}
#official-name {
  position: absolute;
  z-index: 2;
  height: 69px;
  left: 10vw;
  top: 650px;

  font-style: normal;
  font-weight: normal;
  font-size: 56px;
  line-height: 69px;
  color: #ffffff;
  width: 450px;
}
#flag {
  width: 70px;
  height: 70px;
  border: 10px solid #dbdbdb;
  border-radius: 80px;
}

#country-details {
  width: 570px;
  height: 734px;
  background: #ffffff;
  box-shadow: 3.2px 15px 16px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
#days-card {
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  width: 677px;
  grid-column-gap: 7vh;
  grid-row-gap: 24px;

  height: 241px;
  border: 1px solid #b7b7b7;
  box-sizing: border-box;
  border-radius: 0px 8px 8px 0px;
}
.state {
  color: #6183ff;
}
.days {
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 35px;
  padding: 10px;
  color: #5d5d5d;
}
.day-weather {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.horizantal-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#current-state {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
  margin-bottom: 10px;
}
/*footer style*/
footer {
  background-color: #edf2ff;
  display: flex;
  justify-content: space-around;
  margin-top: 7rem;
}
.footeer-section {
  margin-top: 2rem;
}
footer a {
  text-align: left;
  padding-top: 1.3rem;
  color: #828282;
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
  font-size: 1.1em;
  display: flex;
  flex-direction: column;
}
.climostate-tittle {
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin-top: 4rem;
}
.climostate-tittle h4 {
  font-size: 1rem;
  color: #000000;
  font-style: bold;
  font-weight: 800;
  padding-left: 0.6rem;
  margin-bottom: 2rem;
}

.climostate-tittle img {
  width: 20px;
  height: 21px;
}
footer span {
  font-weight: bolder;
  font-style: normal;
  color: #646464;
  font-size: 0.9rem;
  margin-top: 2rem;
}
.footeer-section p {
  font-weight: bolder;
  font-size: 18px;
  color: #000000;
  line-height: 2.5rem;
  margin-bottom: 3rem;
}
.follow-button {
  background-color: white;
  width: 10rem;
  text-align: center;
  padding: 0.5rem;
  border-radius: 3px;
  border: 1px solid #aaaaaa;
}
.follow-button span {
  color: #030303;
  font-weight: bolder;
  margin-right: 3px;
  font-size: 1rem;
}
.follow-button i {
  color: #55acee;
}
.footer-media {
  display: flex;
  justify-content: space-evenly;
  font-size: 1.7rem;
  margin-top: 4rem;
}
.footer-media a {
  padding-right: 1rem;
  color: #000000;
}

@media (max-width: 500px) {
  .slide .content {
    bottom: -300px;
    left: 0;
    width: 100%;
  }

  .slide.current .content {
    transform: translateY(-300px);
  }
}

@media (min-width: 1281px) {
  .logo {
    margin-left: 5rem;
    margin-top: 2rem;
  }
  .menu {
    display: none;
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  /* CSS */
  .logo {
    margin-left: 5rem;
    margin-top: 2rem;
  }
  .menu {
    display: none;
  }
}

@media (min-width: 320px) and (max-width: 1024px) {
  /* CSS */

  .logo {
    margin-top: 2rem;
    margin-left: 1rem;
  }

  .menu {
    position: inherit;
    top: 0;
    right: 0;
    background-color: var(--main-color);
    color: white;
    padding: 0px 15px;
    border-radius: 5px;
    margin-right: 1rem;
    margin-top: 1rem;
    transition: all 0.3s ease;
  }

  .menu:hover {
    background-color: var(--shade);
    color: white;
  }
  .nav-item {
    display: none;
  }
  #country {
    align-items: center;
    flex-direction: column;
  }
  #weather {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #header {
    width: 100%;
  }
  #overlay {
    width: 90vw;
    border-radius: 8px 8px 0 0;
  }
  #country-details {
    margin-top: 80px;
    width: 90vw;
    height: 100%;
  }
  #days-card {
    display: flex;
    align-items: center;
    width: 90vw;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    height: 100%;
    border-radius: 0 0 8px 8px;
  }
  .allign-item {
    margin: 0;
    flex-direction: column-reverse;
  }
  .mq-margin {
    margin: 42px;
  }
  #flag {
    width: 100%;
    height: 204px;
    border-radius: 8px 8px 0px 0px;
    border: none;
    object-fit: cover;
  }

  #official-name {
    font-size: 48px;
    width: auto;

  }

  .now-state-img {
    margin: 39px 0 0 0;
  }
}
