* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --main-color: #46c2bf;
  --secondary-color: #828282;
  --tint: #59c8c5;
  --shade: #3fafac;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: Exo, sans-serif;
  line-height: 1.5;
  max-width: 100%;
}
main {
  max-width: 100%;
}
.main-nav {
  background: #fff;
  height: 5rem;
  font-size: 0.9rem;
  line-height: 50px;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 0 5px #82828233;
  z-index: 101;
}
.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  list-style: none;
  text-transform: uppercase;
}
.nav-link:link,
.nav-link:visited {
  display: inline-block;
  padding: 0 20px;
  color: #828282;
  text-decoration: none;
  font-weight: 600;
  transition: all 0.3s;
}
.nav-link:hover {
  color: var(--main-color);
}
.logo {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 1.5em;
}
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero {
  width: 100%;
  max-width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  position: relative;
}

.hero-text {
  font-weight: 700;
  color: #fff;
  text-align: center;
  position: absolute;
  z-index: 100;
}
.hero-text h1 {
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  font-size: 4rem;
}
.hero-text p {
  font-size: 1.2rem;
  font-weight: 300;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.hero-text input {
  width: 50%;
  height: 1.5rem;
  border: none;
  outline: 0;
  border-radius: 3px;
  background: #fff;
  padding: 1.2rem 1.2rem;
  color: #333;
  margin-top: 32px;
  margin-bottom: 20px;
}
.hero-text a {
  display: inline-block;
  padding: 0.4rem 1rem;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  background-color: var(--main-color);
  border-radius: 3px;
  margin-bottom: 20px;
  margin-left: 0.5rem;
}
.hero-text a:hover {
  background-color: var(--shade);
  transition: all 0.3s;
}
.hero-images {
  width: 100%;
  max-width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-size: cover;
  position: relative;
}
.hero-images img {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-size: cover;
}
.hero-img {
  width: 50%;
  height: 100vh;
  object-fit: cover;
  filter: brightness(0.6) contrast(1.2) saturate(1.2) sepia(0.2);
  transition: all 0.5s ease;
}
.hero-img2 {
  width: 50%;
  height: 100vh;
  object-fit: cover;
  filter: brightness(0.8) contrast(1.2) saturate(1.2) sepia(0.2);
  transition: all 0.5s ease;
}
.hero-img:hover {
  filter: brightness(1.1) contrast(1.2) saturate(1.2) sepia(0.2);
  width: 100%;
  transition: all 0.5s ease;
  margin-right: -50%;
  z-index: 2;
}
.hero-img2:hover {
  filter: brightness(1.1) contrast(1.2) saturate(1.2) sepia(0.2);
  width: 100%;
  transition: all 0.5s ease;
  margin-left: -50%;
  z-index: 2;
}
hr {
  width: 80%;
  border: 1px solid #000;
  margin: 5rem auto;
}
.features {
  margin: 3.2rem;
  position: relative;
}
.features::before {
  content: "";
  top: 0;
  display: block;
  height: 3px;
  left: 50%;
  position: absolute;
  width: 73%;
  background-color: #5d5d5d;
  transform: translate(-50%, 0);
  z-index: 2000;
}

.features-tittle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 5rem auto;
}
.features-tittle h4 {
  font-size: 2.2em;
  font-weight: 700;
  line-height: 52px;
  color: #5d5d5d;
  padding-left: 1rem;
}
.features-tittle img {
  width: 50px;
  height: 51px;
}
.features-icons {
  display: flex;
  justify-content: space-evenly;
}
.features-icon {
  text-align: center;
}
.features-icon img {
  width: 8em;
  height: 8em;
}
.features-icons h3 {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 1.5rem;
}
.features-icons p {
  text-align: center;
  font-size: 1em;
  font-weight: 800;
  text-transform: uppercase;
  margin-top: 1.3rem;
}
#features-search-p {
  margin-top: 2.7rem;
}
.Testimonials {
  background-color: #edf2ff;
  margin-top: 5rem;
  position: relative;
  min-height: 90rem;
}
.Testimonials::after {
  top: 0;
  content: "";
  display: block;
  height: 3px;
  left: 50%;
  position: absolute;
  width: 73%;
  background-color: #5d5d5d;
  transform: translate(-50%, 0);
}
.Testimonials-tittle {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.Testimonials-tittle h4 {
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 60px;
  color: #5d5d5d;
  padding-left: 1rem;
  margin-top: 5rem;
}
.Testimonials-tittle img {
  width: 50px;
  height: 51px;
  margin-top: 5rem;
}
.Testimonials-avater {
  display: table;
  margin: 0 auto;
  position: relative;
}
.left-testimonials-sections {
  display: inline-block;
  position: absolute;
}
.right-testimonials-sections {
  display: inline-block;
  position: absolute;
}
.fa-quote-right {
  font-size: 1rem;
}
.Testimonials::before {
  bottom: 0;
  content: "";
  display: block;
  height: 3px;
  left: 50%;
  position: absolute;
  width: 73%;
  background-color: #5d5d5d;
  transform: translate(-50%, 0);
}
.section-br {
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}
.break-logo {
  position: absolute;
  margin-right: 20rem;
}
.explore-text {
  font-size: 2rem;
  font-weight: 700;
  color: var(--secondary-color);
  margin: 5rem auto;
  text-align: center;
}
.slider {
  position: relative;
  overflow: hidden;
  height: 140vh;
  width: 98.9vw;
  margin-top: 2rem;
}
.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}
.slide.current {
  opacity: 1;
}
.slide .content {
  position: absolute;
  bottom: 70px;
  left: -600px;
  opacity: 0;
  width: 600px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #333;
}
.slide .content h1 {
  margin-bottom: 10px;
}
.slide.current .content {
  opacity: 1;
  transform: translateX(600px);
  transition: all 0.7s ease-in-out 0.3s;
}
.buttons button#next {
  position: absolute;
  top: 40%;
  right: 15px;
}
.buttons button#prev {
  position: absolute;
  top: 40%;
  left: 15px;
}
.buttons button {
  border: 2px solid #fff;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  padding: 13px 15px;
  border-radius: 50%;
  outline: 0;
}
.buttons button:hover {
  background-color: var(--shade);
  color: #fff;
  transition: all 0.3s ease;
}
footer {
  background-color: #edf2ff;
  display: flex;
  justify-content: space-around;
  margin-top: 7rem;
}
.footeer-section {
  margin-top: 2rem;
}
footer a {
  text-align: left;
  padding-top: 1.3rem;
  color: #828282;
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  font-size: 1.1em;
  display: flex;
  flex-direction: column;
}
.climostate-tittle {
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin-top: 4rem;
}
.climostate-tittle p {
  font-size: 1rem;
  color: #000;
  font-style: bold;
  font-weight: 800;
  padding-left: 0.6rem;
}
.climostate-tittle img {
  width: 20px;
  margin-top: 0.5rem;
  height: 21px;
}
footer span {
  font-weight: bolder;
  font-style: normal;
  color: #646464;
  font-size: 0.9rem;
  margin-top: 2rem;
}
.footeer-section p {
  font-weight: bolder;
  font-size: 18px;
  color: #000;
  line-height: 2.5rem;
  margin-bottom: 3rem;
}
.follow-button {
  background-color: #fff;
  width: 10rem;
  text-align: center;
  padding: 0.5rem;
  border-radius: 3px;
  border: 1px solid #aaa;
}
.follow-button span {
  color: #030303;
  font-weight: bolder;
  margin-right: 3px;
  font-size: 1rem;
}
.follow-button i {
  color: #55acee;
}
.footer-media {
  display: flex;
  justify-content: space-evenly;
  font-size: 1.7rem;
  margin-top: 4rem;
}
.footer-media a {
  padding-right: 1rem;
  color: #000;
}
@media (max-width: 500px) {
  .slide .content {
    bottom: -300px;
    left: 0;
    width: 100%;
  }
  .slide.current .content {
    transform: translateY(-300px);
  }
}
.slide:first-child {
  background: url(../assets/img/Landing/Slider/slider-1.webp) no-repeat center
    top/cover;
}
.slide:nth-child(2) {
  background: url(../assets/img/Landing/Slider/slider-2.webp) no-repeat center
    top/cover;
}
.slide:nth-child(3) {
  background: url(../assets/img/Landing/Slider/slider-3.webp) no-repeat center
    top/cover;
}
.slide:nth-child(4) {
  background: url(../assets/img/Landing/Slider/slider-6.webp) no-repeat center
    top/cover;
}
.slide:nth-child(5) {
  background: url(../assets/img/Landing/Slider/slider-5.webp) no-repeat center
    top/cover;
}
.slide:nth-child(6) {
  background: url(../assets/img/Landing/Slider/slider-4.webp) no-repeat center
    top/cover;
}
.slide:nth-child(7) {
  background: url(../assets/img/Landing/Slider/slider-7.webp) no-repeat center
    top/cover;
}
@media (min-width: 1281px) {
  .logo {
    margin-left: 5rem;
    margin-top: 2rem;
  }
  .Testimonials {
    position: relative;
  }
  .Testimonials-avater {
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .left-testimonials-sections {
    padding-top: 5rem;
    display: block;
    position: static;
    margin-right: 2.5rem;
  }
  .right-testimonials-sections {
    display: block;
    margin-left: 1rem;
    position: static;
  }
  .testimonial {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2.4rem;
  }
  .testimonial-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  .testimonial-container p {
    font-size: 1.2rem;
    color: #000;
    line-height: 2.5rem;
    margin-bottom: 3rem;
    white-space: pre-line;
  }
  .menu {
    display: none;
  }
  .footer-grid {
    display: contents;
  }
}
@media (min-width: 1025px) and (max-width: 1280px) {
  .logo {
    margin-left: 5rem;
    margin-top: 2rem;
  }
  .menu {
    display: none;
  }
  .Testimonials-avater {
    position: absolute;
  }

  .features-br {
    margin-top: -10rem;
  }

  .left-testimonials-sections {
    position: static;
  }
  .right-testimonials-sections {
    position: static;
  }
  .testimonial {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2.4rem;
  }
  .footer-grid {
    display: contents;
  }
}
@media (min-width: 320px) and (max-width: 768px) {
  html {
    font-size: 80.5%;
  }
  html {
    font-size: 80%;
  }
  .logo {
    margin-top: 2rem;
    margin-left: 1rem;
  }
  .menu {
    position: fixed;
    top: 0.5rem;
    right: 0;
    background-color: var(--main-color);
    color: #fff;
    padding: 8px 12px;
    border-radius: 5px;
    margin-right: 1rem;
    margin-top: 1rem;
    transition: all 0.3s ease;
    z-index: 1000;
  }
  .header .menu.close {
    display: none;
  }
  .menu:hover {
    background-color: var(--shade);
    color: #fff;
  }
  .body {
    position: relative;
  }
  .header.active {
    width: 100%;
    height: 600vh;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.92);
    opacity: 0.92;
    z-index: 1001;
  }
  .header.active .menu {
    display: none;
    transition: all 0.3 ease;
  }
  .header.active .menu.close {
    display: block;
    transition: all 0.3 ease;
  }
  .nav-list {
    display: none;
  }

  .header.active .nav-list a {
    color: #333;
    transition: all 0.3 ease;
  }

  .header.active .nav-list a:hover {
    color: var(--shade);
  }
  .header.active .nav-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
    margin-top: 5.4rem;
    font-size: 1.8rem;
  }

  .header.active .logo {
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
    visibility: hidden;
  }
  .hero {
    height: 60vh;
  }
  .hero-text {
    margin-top: 8rem;
    font-size: 1rem;
  }
  .hero-text h1 {
    font-size: 2rem;
  }
  .hero-text p {
    margin-top: 1rem;
    font-size: 1.2rem;
  }
  .hero input {
    width: 70%;
    margin-top: 2rem;
    padding: 1.2rem;
    border-radius: 5px;
  }
  .hero a {
    width: 50%;
    padding: 0.5rem;
    border-radius: 5px;
  }
  .section-br {
    margin-top: 2rem;
  }
  .section-br h1 {
    font-size: 1.5rem;
  }
  .section-br img {
    height: auto;
    margin-left: 5rem;
  }
  .slider {
    margin-top: -2rem;
    height: 50vh;
  }
  .features-br {
    margin-top: 14rem;
  }

  .features-icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  .features-icon img {
    width: 5.2rem;
  }
  .features-icon p {
    color: var(--secondary-color);
    font-size: 1.2rem;
    margin-bottom: 2.4rem;
  }
  .features-icon {
    margin-top: 2.4rem;
  }
  .Testimonials {
    max-width: 100%;
    position: relative;
    min-height: 60rem;
  }
  .Testimonials-avater {
    width: 100%;
    height: auto;
    position: absolute;
  }
  .testimonial-container {
    max-width: 100%;
    padding: 4.2rem;
    margin-bottom: -6.4rem;
  }
  .testimonial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.4rem;
  }
  .testimonial img {
    width: 80%;
    border-radius: 48px;
    margin-top: -4.8rem;
  }
  .right-testimonials-sections {
    display: none;
    justify-content: center;
    bottom: 20rem;
    left: 0.5rem;
  }
  footer {
    width: 100%;
    max-width: 100%;
  }
  .footer-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.4rem;
    row-gap: 0;
    margin-left: 2rem;
    margin-right: 2rem;
    font-size: 0.8rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  html {
    font-size: 85%;
  }

  .menu {
    position: fixed;
    top: 0.5rem;
    right: 0;
    background-color: var(--main-color);
    color: #fff;
    padding: 8px 12px;
    border-radius: 5px;
    margin-right: 1rem;
    margin-top: 1rem;
    transition: all 0.3s ease;
    z-index: 1000;
  }
  .header .menu.close {
    display: none;
  }
  .menu:hover {
    background-color: var(--shade);
    color: #fff;
  }
  .body {
    position: relative;
  }
  .header.active {
    width: 100%;
    height: 600vh;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.9);
    opacity: 0.9;
    z-index: 1001;
  }
  .header.active .menu {
    display: none;
    transition: all 0.3 ease;
  }
  .header.active .menu.close {
    display: block;
    transition: all 0.3 ease;
  }
  .nav-list {
    display: none;
  }
  .header.active .nav-list {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    margin-top: 5.4rem;
    font-size: 1.8rem;
  }

  .header.active .nav-list a {
    color: #333;
    transition: all 0.3 ease;
  }

  .header.active .nav-list a:hover {
    color: var(--shade);
  }
  .logo {
    margin-top: 2rem;
    margin-left: 1rem;
  }

  .features-br {
    margin-top: 8.5rem;
  }
  .features-icons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row: span 2;
  }
  .features-icon-responsive {
    grid-column: 1/-1;
    justify-self: center;
  }

  .Testimonials {
    max-width: 100%;
    position: relative;
    min-height: 70rem;
  }
  .Testimonials-avater {
    width: 100%;
    height: auto;
    position: absolute;
  }
  .testimonial-container {
    max-width: 100%;
    padding: 4.2rem;
    margin-bottom: -6.4rem;
  }
  .testimonial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.4rem;
  }
  .testimonial img {
    width: 80%;
    border-radius: 48px;
    margin-top: -4.8rem;
  }
  .right-testimonials-sections {
    display: none;
    justify-content: center;
    bottom: 20rem;
    left: 0.5rem;
  }

  .slider {
    height: 80vh;
  }
  .footer-grid {
    display: contents;
    min-width: 47rem;
  }
}
